.OverviewsubsContainer {
  height: 776px;
  padding: 38px;
  overflow: hidden;
}
.Overviewsubs {
  display: flex;
  justify-content: space-between;
  width: 991px;
  height: 40px;
  margin: auto;
  padding: 10px;
  background-color: red;
  align-items: centers;
}
img {
  width: 426px;
  height: 290px;
}
.AddSearch {
  margin-top: 119px;
  margin-left: 340px;
  width: 426px;
  height: 290px;
  overflow: hidden;
  border-radius: 10px;
}

.word {
  margin-left: 385px;
  margin-top: 44px;
}
.campaignAdd {
  margin-left: 455px;
  margin-top: 35px;
  background-color: #247b7b;
  width: 196px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
