.OverviewsubsContainer {
  background-color: aqua;

  height: 776px;
  padding: 38px;
}
.Overviewsubs {
  display: flex;
  justify-content: space-between;
  width: 991px;
  height: 40px;
  margin: auto;
  padding: 10px;
  background-color: red;
  align-items: centers;
}
.AddSearch {
  margin-top: 119px;
  margin-left: 340px;
  border: 1px solid black;
  width: 426px;
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AddSearchIcon {
  height: 150px;
  width: 150px;
}
.word {
  margin-left: 385px;
  margin-top: 44px;
}
.campaignAdd {
  margin-left: 455px;
  margin-top: 35px;
}
